<nav id="theMenu" class="menu">

    <!--MENU-->
    <div id="menu-options" class="menu-wrap">

        <!--PERSONAL LOGO-->
        <div class="logo-flat">
            <img alt="personal-logo" class="img-responsive" src="{{theme_url}}/libs/images/profile/john.png">
        </div>
        <br>

        <!--OPTIONS-->
        <a href="#home"><i class="title-icon fa fa-user"></i>Home</a>
        <a href="#about"><i class="title-icon fa fa-dashboard"></i>About</a>
        <a href="#education"><i class="title-icon fa fa-graduation-cap"></i>Education</a>
        <a href="#skills"><i class="title-icon fa fa-sliders"></i>Skills</a>
        <a href="#experience"><i class="title-icon fa fa-suitcase"></i>Experience</a>
        <a href="#portfolios"><i class="title-icon fa fa-archive"></i>Portfolios</a>
        <a href="#interest"><i class="title-icon fa fa-heart"></i>Interest</a>
        <a href="#testimonials"><i class="title-icon fa fa-users"></i>Testimonials</a>
        <a href="#pricing-table"><i class="title-icon fa fa-money"></i>Pricing</a>
        <a href="#blog"><i class="title-icon fa fa-pencil-square"></i>Blog</a>
        <a href="#contact"><i class="title-icon fa fa-envelope"></i>Contact</a>
    </div>

    <!-- MENU BUTTON -->
    <div id="menuToggle">
        <div class="toggle-normal">
            <i class="material-icons top-bar">remove</i>
            <i class="material-icons middle-bar">remove</i>
            <i class="material-icons bottom-bar">remove</i>
        </div>
    </div>
</nav>